html
    head
        title= title
    body
        h1= title
        h2 Create User ID
        form(action='/create-user', method='POST')
            label(for='userId') User ID:
            input(type='text', id='userId', name='userId')
            br
            label(for='firstName') First Name:
            input(type='text', id='firstName', name='firstName')
            br
            label(for='lastName') Last Name:
            input(type='text', id='lastName', name='lastName')
            br
            button(type='submit') Create
        h2 Search User ID
        form(action='/search-user', method='POST')
            label(for='userId') User ID:
            input(type='text', id='userId', name='userId')
            br
            button(type='submit') Search
        if error
            p.error= error
        if user
            p User ID: #{user.userId}
            p First Name: #{user.firstName}
            p Last Name: #{user.lastName}